.fa {
    padding: 2%;
    font-size: 60px;
    width: 11%;
    text-align: center;
    text-decoration: none;
    margin: 5px 4px;
    border-radius: 55%;
   
  }
  .box{
    text-align: center;
    margin-top: 1%;
    
  }
  
  .fa:hover {
      opacity: 1;
      
      background-color: #125688;
  }
  
  .fa-facebook {
    background: white;
    color: rgb(5, 65, 186); 
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background:white;
    color: rgb(239, 11, 11);
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  .fa-skype {
    background: #00aff0;
    color: white;
  }
  
  .fa-envelope {
    background:white;
    color: rgba(184, 18, 18, 0.904);
    text-align: center;
  }
  
  .fa-whatsapp {
    background:white;
    color: green;
  }
  
  .btn{
    width: 60px;
    height: 38px;
  }
  #btn{
    width: 100%;
  }
  #box1{
    width: 100%;
    min-height: 30%;
    border: 1px solid white;
    text-align: center;
    padding-top: 2vh;
    color: white;
    border-radius: 5px;
    font-weight: bold;
  }

  #count{
    width: 100%;
    min-height: 35%;
    border: 1px solid white;
    text-align: center;
    padding-top: 5vh;
    color: white;
    border-radius: 5px;
    margin-left: 0.5%;
    font-weight: bold;
    margin-bottom: 8vh;
  }
  #p1{
    width: 100%;
    min-height: 35%;
    border: 1px solid white;
    text-align: center;
    padding-top: 5vh;
     margin-top: 10px;
     margin-bottom: 10px;
     margin-left: 0.5%;
     border-radius: 5px;
  }

  .notes{
    color: white;
    font-weight: bold;
  }
  #s{
    margin-top: 2%;
     opacity: 1;
    margin-bottom: 50px;
  }
  .time{
display: grid;
grid-template-columns: auto,auto,auto,auto;
  }


  